.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
nav li {
    height: 10px;
    line-height: 10px;
    text-align: center;
}
#nav-title {
    margin-right: auto;
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    font-family: Anton;

}

header li {
    list-style: none;
    display: inline;
    padding: 0 20px;
}
.nav-items{
    float:left;
    color: white;
    font-size: 120%;
}

header a {
    text-decoration: none;
}
body {
    /*background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);*/
    background: linear-gradient(-90deg, indianred, mediumpurple,cadetblue);
    /*background: linear-gradient(-45deg, red,orange,green,blue,violet);*/
    /*background: linear-gradient(-90deg, red,orange,green,blue,violet);*/

    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
}
.diagonal-box {
    transform: skewY(-15deg);
    margin: 0;
    padding:0;
}
.content{
    transform: skewY(15deg);
    margin-left: 10%;
}
.height-maker{
    height: 150%;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.font-increase{
    font-size: 125%;
}
section{
    z-index: 99 !important;
}
.mainTitle{
    height: 400px;
    transform: skewY(15deg);
    padding-top: 30px;
    color:#06c2eb

}
.sectionTitle{
    display: flex;
    flex-direction: row;
}
.sectionTitle{
    content: "";
    flex: 1 ;
    border-bottom: 3px solid;
    margin: auto;
}
.width{
    width: 100%;
}
.shift{
    margin:0;
    padding: 0;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: lightblue;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: lightblue;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    color: #48ff00;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.divideRight{
    width: 40%;
    float:right;
}
.center{
    transform: translate(0, -60px);
    height:600px;
}
.Slogan{
    font-style: italic;
}
.divideLeft{
    width: 60%;
}
.img {
    max-height: 500px;
    width: 90%;
    height: auto;
    transform: translate(-8%, -20%);
}
.section2{
    transform: skewY(-15deg);
    width:100%;
    height:800px;
    background: #0a2540;
    margin: 0;
    padding: 10%;
}
.section3{
    transform: skewY(-15deg);
    width:100%;
    height:900px;
    margin: 0;
    padding: 10%;
}
.section4{
    transform: skewY(-15deg);
    width:100%;
    height:800px;
    background: #0a2540;
    margin: 0;
    padding: 10%;
}
.section5{
    transform: skewY(-15deg);
    width:100%;
    height:600px;
    margin: 0;
    padding: 0%;

}

.divideLeft40{
    width: 40%;
    float:left;
    margin:10px;
    padding: 3px;
}
.divideRight60{
    width: 60%;
    float:right;
    margin:10px;
    padding: 3px;
}
.divideRight30{
    width: 30%;
    float:right;
    margin:10px;
    padding: 3px;
}
.divideRight70{
    width: 70%;
    float:right;
    margin:10px;
    padding: 3px;
}

.centerText{
    text-align: center;
}

.widthForCards{
    width:25rem;
    display: flex;
}
#priceCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.topMargin{
padding: 100px;
}

.loginButton{
    background:white;
    border-radius: 30%;
}
.img2{
    max-height: 400px;
    width: 25%;
    height: auto;
    transform: translate(600px,-500px);
}

.h1font{
    color:#06c2eb
}

.diagram{
    padding: 0;
    margin: 0;
    top: 0px;
    height: auto;
    width: 80%;
    position: absolute;
}
.colorWhite{
    color:white;
}
.colorBlack{
    color:black;
}
.descriptonHeader{
    text-align: center;
}
.sectionDes{
}
